@if (expensePayment != null) {
	<div class="expense" (click)="displayExpenseDetail.emit(expensePayment.id)">
		<span class="pi pi-money-bill"></span>
		<div class="expenseContent">
			<label>{{ expensePayment.name }}</label>
			<div class="expenseContent-avatars">
				<span class="expenseContent-avatars-label">Payé par</span>
				@for (payor of expensePayment.payors; track payor) {
					<app-avatar-initials class="expenseContent-avatars-item" [size]="23" [userName]="payor.user_name"></app-avatar-initials>
				}
			</div>
		</div>
		<div class="expenseAmount">{{ expensePayment.amount }} €</div>
	</div>
}