# Ignore node_modules directory
node_modules
npm-debug.log

# Ignore build output (optional, as the build happens inside Docker)
build

# Ignore local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore editor and IDE config files
*.swp
*.swo
*.idea
.vscode/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db