<section class="expensePaymentDetail-header">
	<h2 class="expensePaymentDetail-header-title">{{ expensePayment?.name }}</h2>
	<div class="expensePaymentDetail-amount">Dépense de {{ expensePayment?.amount }}€</div>
	<div *ngIf="expensePayment?.description">{{ expensePayment?.description }}</div>
	<ng-container *ngIf="{ pLength: expensePayment?.payors?.length, dLength: expensePayment?.debtors?.length } as lengths">
		<div *ngIf="lengths.pLength && lengths.dLength">
			<span *ngFor="let payor of expensePayment?.payors; let pIndex = index">
				{{ payor.user_name }}{{ pIndex === lengths.pLength - 1 ? '' : ',' }} 
			</span>
			<span *ngIf="lengths.pLength > 1">ont payé pour </span>
			<span *ngIf="lengths.pLength === 1">a payé pour </span>
			<span *ngFor="let debtor of expensePayment?.debtors; let dIndex = index">
				{{ debtor.user_name }}{{ dIndex === lengths.dLength - 1 ? '' : ',' }} 
			</span>
		</div>
	</ng-container>
</section>

<section class="expensePaymentDetail-payed-by">
	<h2>Payé par</h2>
	<div *ngFor="let payor of expensePayment?.payors" class="expensePaymentDetail">
		<p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
		<span>{{ payor.user_name }}</span>
		<span>A payé</span>
		<span>{{ payor.amount }}€</span>
	</div>
</section>

<section class="expensePaymentDetail-payed-for">
	<h2>Pour</h2>
	<div *ngFor="let debtor of expensePayment?.debtors" class="expensePaymentDetail">
		<p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
		<span>{{ debtor.user_name }}</span>
		<span>Doit</span>
		<span>{{ debtor.amount }}€</span>
	</div>
</section>
