<p-dialog header="Créer un nouveau projet" [(visible)]="display" [style]="{ width: '50vw', height: '600px' }">
	<form (ngSubmit)="onSubmitAsync()" class="form-container" [formGroup]="form">
		<div class="form-element">
			<label>Nom du projet</label>
			<input type="text" pInputText formControlName="projectName"/>
		</div>
	
		<div class="form-element">
			<label>Utilisateurs</label>
			<p-multiSelect [options]="users" formControlName="selectedUserIds" optionLabel="name" optionValue="id"></p-multiSelect>
		</div>

		<button pButton type="submit" class="p-button-outlined" label="Enregistrer"></button>
	</form>
</p-dialog>

<button pButton type="button" (click)="showDialog()" class="p-button-outlined" label="Ajouter un Projet"></button>