services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend-react/counted
      dockerfile: Dockerfile
    ports:
      - "5173"
    depends_on:
      - backend
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    command: ["cargo", "run"]
    ports:
      - "8080"
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: hcount
      POSTGRES_USER: hcount_user
      POSTGRES_PASSWORD: supersecret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
  node_modules:
