services:
  web:
    # image: node:25.2-bookworm-slim
    build: ./.devcontainer/
    ports:
      - "4321:4321"
    volumes:
      - ./:/workspace:cached
      - node_modules:/frontend-react/counted/node_modules
    command: sleep infinity
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: hcount
      POSTGRES_USER: hcount_user
      POSTGRES_PASSWORD: supersecret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
  node_modules:
