<form (ngSubmit)="onSubmitAsync()" class="form-container" [formGroup]="form">
	<section class="expensePaymentDetail-header">
		<div class="form-element">
			<label>Nom de la dépense</label>
			<input type="text" pInputText formControlName="name" [required]="true"/>
		</div>
		<div class="expensePaymentDetail-amount">
			<div class="form-element">
				<p-multiSelect [options]="expenseTypeOptions" formControlName="expenseType" name="expenseType" optionLabel="name" optionValue="id" [selectionLimit]="1" [required]="true"></p-multiSelect>
			</div>
			<span class="expensePaymentDetail-amount-span">de</span>
			<div class="form-element">
				<p-inputNumber mode="currency" currency="EUR" [min]="0" formControlName="amount" [required]="true"></p-inputNumber>
			</div>
		</div>
		<div class="form-element">
			<label>Description</label>
			<input type="text" pInputText formControlName="description"/>
		</div>
	</section>
	
	<section class="expensePaymentDetail-payed-by">
		<h2>Payé par</h2>
		<ng-container formArrayName="payers">
			@for (payerControl of payersControl.controls; track payerControl; let i = $index) {
				<div class="expensePaymentDetail" [formGroup]="payerControl">
					<p-checkbox [label]="users[i].name" [name]="'payers' + i" formControlName="isSelectedUser" [binary]="true"></p-checkbox>
					<app-avatar-initials class="expenseContent-avatars-item" [size]="23" [userName]="users[i].name"></app-avatar-initials>
					<p-inputNumber mode="currency" currency="EUR" [min]="0" formControlName="userAmount"></p-inputNumber>
					<span>€</span>
				</div>
			}
		</ng-container>
	</section>
	
	<section class="expensePaymentDetail-payed-for">
		<h2>Pour</h2>
		<ng-container formArrayName="debtors">
			@for (debtorControl of debtorsControl.controls; track debtorControl; let i = $index) {
				<div class="expensePaymentDetail" [formGroup]="debtorControl">
					<p-checkbox [label]="users[i].name" [name]="'debtors' + i" formControlName="isSelectedUser" [binary]="true"></p-checkbox>
					<app-avatar-initials class="expenseContent-avatars-item" [size]="23" [userName]="users[i].name"></app-avatar-initials>
					<p-inputNumber mode="currency" currency="EUR" [min]="0" formControlName="userAmount"></p-inputNumber>
					<span>€</span>
				</div>
			}
		</ng-container>
	</section>
	
	<button pButton type="submit" class="p-button-outlined" label="Enregistrer"></button>
</form>