<p-dialog header="Créer une nouvelle dépense" [(visible)]="display" [style]="{ width: '50vw', height: '600px' }">
	<form (ngSubmit)="onSubmitAsync()" class="form-container" [formGroup]="form">
		<div class="form-element">
			<label>Nom de la dépense</label>
			<input type="text" pInputText formControlName="name"/>
		</div>

		<div class="form-element">
			<label>Montant</label>
			<p-inputNumber mode="currency" currency="EUR" [min]="0" formControlName="amount"></p-inputNumber>
		</div>

		<div class="form-element">
			<label>Type de dépense</label>
			<p-multiSelect [options]="expenseTypeOptions" formControlName="expenseType" optionLabel="name" optionValue="id"></p-multiSelect>
		</div>
		
		<div class="form-element">
			<label>Payé par</label>
			
			<ng-container formArrayName="payers">
				<ng-container *ngFor="let payerControl of payersControl.controls; let i = index">
					<!-- <p-checkbox [label]="user?.name" name="payors" [value]="user?.id" [formControl]="payerControl"></p-checkbox> -->
					<p-checkbox [label]="users[i].name" name="payors" [formControl]="payerControl"></p-checkbox>
				</ng-container>
			</ng-container>
		</div>
		
		<div class="form-element">
			<label>Pour</label>

			<ng-container formArrayName="debtors">
				<ng-container *ngFor="let debtorControl of debtorsControl.controls; let i = index">
					<!-- <p-checkbox [label]="user?.name" name="debtors" [value]="user?.id" [formControl]="debtorControl"></p-checkbox> -->
					<p-checkbox [label]="users[i].name" name="debtors" [formControl]="debtorControl"></p-checkbox>
				</ng-container>
			</ng-container>
		</div>
		
		<div class="form-element">
			<label>Commentaire</label>
			<input type="text" pInputText formControlName="description"/>
		</div>

		<button pButton type="submit" class="p-button-outlined" label="Enregistrer"></button>
	</form>
</p-dialog>

<button pButton type="button" (click)="showDialog()" class="p-button-outlined" label="Ajouter une dépense"></button>