<app-sub-header></app-sub-header>

<div class="summary">
	<div class="summary-personal">
		<span>Mon total </span>
		<span>625€</span>
	</div>
	<div class="summary-global">
		<span>Total global </span>
		<span>{{ globalTotal }} €</span>
	</div>
</div>

<div class="expense-list">
	<app-expense *ngFor="let expensePayment of expensePayments" [expensePayment]="expensePayment"></app-expense>
</div>

<app-add-expense-modal [users]="users" (expenseAdded)="onExpenseAddedAsync()"></app-add-expense-modal>
