<app-sub-header></app-sub-header>

<div class="summary">
	<div class="summary-personal">
		<span>Mon total </span>
		<span>625€</span>
	</div>
	<div class="summary-global">
		<span>Total global </span>
		<span>{{ globalTotal }} €</span>
	</div>
</div>

<div class="expense-list">
	@for (expensePayment of expensePayments; track expensePayment) {
		<app-expense [expensePayment]="expensePayment" (displayExpenseDetail)="onDisplayExpenseModal(users, $event)"></app-expense>
	}
</div>

@if (users.length > 0) {
	<button
	pButton
	class="p-button-outlined"
	label="Ajouter une dépense"
	(click)="onDisplayExpenseModal(users)">
</button>
}
