.balance-content {
	display: flex;
	gap: 2rem;
	padding: 0.4rem 0;
}

.barContainer {
	width: 150px;
	position: relative;
	height: 1rem;
	transform: translateX(100%);
}

.negative-container-bar {
	transform: rotateY(180deg);
}

.bar {
	background-color: green;
	display: block;
	height: 100%;
	border-radius: 0.4rem;
}

.negative-bar {
	background-color: red;
	border-radius: 0.4rem;
}
