<p-card>
	<ng-template pTemplate="header">
		<h2>{{ project.name }}</h2>
	</ng-template>
	<h3 class="p-text-secondary">Remboursements</h3>
	<p-progressBar [value]="25" [showValue]="false"></p-progressBar>
	<ng-template pTemplate="footer">
		<div class="card-footer">
			<p-tag value="En cours" severity="primary" [rounded]="true"></p-tag>
			<p-avatarGroup class="avatar-group">
				<p-avatar *ngFor="let user of project?.users" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
				<!-- <p-avatar label="+2" shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar> -->
			</p-avatarGroup>
		</div>
	</ng-template>
</p-card>