<p-card (click)="onCardClick()">
	<ng-template pTemplate="header">
		<h2>{{ project.name }}</h2>
	</ng-template>
	<h3 class="p-text-secondary">Remboursements</h3>
	<p-progressBar [value]="25" [showValue]="false"></p-progressBar>
	<ng-template pTemplate="footer">
		<div class="card-footer">
			<p-tag value="En cours" severity="primary" [rounded]="true"></p-tag>
			<div class="card-footer-avatars">
				
				@for (user of project?.users; track user) {
					<app-avatar-initials class="card-footer-avatars-item" [size]="23" [userName]="user.name"></app-avatar-initials>
				}
				<!-- <p-avatar label="+2" shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar> -->
			</div>
		</div>
	</ng-template>
</p-card>