.form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-element {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.form-element-group {
	display: flex;
	flex-direction: row;
	gap: 0.6rem;
	justify-content: space-between;
	.form-element-group-input {
		flex-grow: 1;
	}
}
