@import 'tailwindcss';
@plugin "daisyui";

#root {
	height: calc(100vh - 3rem);
	padding: 2rem;
	text-align: center;
	max-width: calc(100vw);
	width: 26rem;
	margin: auto;
}

body {
	height: 100vh;
	display: flex;
	place-items: center;
}

.app-container {
	height: 100%;
	background-color: var(--color-base-200);
	gap: 0.75rem;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-xl);
}
