@import 'tailwindcss';
@plugin "daisyui";

#root {
	height: calc(100vh - 3rem);
	padding: 2rem;
	text-align: center;
	max-width: calc(100vw);
	width: 26rem;
	margin: auto;
}

body {
	height: 100vh;
	display: flex;
	place-items: center;
}

dialog {
	padding: 1rem 0;
}

.app-container {
	height: 100%;
	background-color: var(--color-base-200);
	gap: 0.75rem;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-xl);
}

.modal-box {
	max-height: 95vh;
}

.reimbursement-list {
	grid-template-columns: min-content auto;
}

.projectDialogContent-userList {
	display: grid;
	grid-template-columns: min-content 150px 80px;
	gap: 10px;
}

.userSelectionDialog-userList {
	display: grid;
	grid-template-columns: auto 80px;
	gap: 10px;
}

.avatar-group > .avatar {
	border: 2px solid var(--color-base-200);
}

.counted-list {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 1); /* gap-1 */
}

.counted-listItems {
	align-items: center;
	gap: calc(var(--spacing) * 3); /* gap-3 */
	padding: calc(var(--spacing) * 2); /* p-2 */
	background-color: var(--color-base-100); /* bg-base-100 */
	border-radius: var(--radius-lg); /* rounded-lg */
	min-height: 56px;
}

.counted-listItems-hover {
	&:hover {
		background-color: var(--color-base-300); /* bg-base-300 */
		/* transition-colors */
		transition-property:
			color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
		transition-duration: var(--tw-duration, var(--default-transition-duration));
	}
}
