body {
	margin: 0;
	display: flex;
	place-items: center;
	height: calc(100vh - 3rem);
}

.app-container {
	height: calc(100vh - 3rem);
	background-color: var(--color-base-200);
	gap: 0.75rem;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-xl);
}
